.shop-catg{
    height: 2100px;
}
.shopcategory-banner {
    display: block;
    margin: 30px auto;
    width: 82%;
    margin-left: 155px;
}

.shopcategory-index {
    display: flex;
    margin: 0px 170px;
    justify-content: space-between;
    align-items: center;
}

.shopcategory-sort {
    padding: 10px 20px;
    border-radius: 40px;
    border: 1px solid solid #888;
}

.shopcategory-index p {
    font-weight: 100;
}

.shopcategory-products {
    margin: 20px 180px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 80px;
}

.shopcategory_load {
    margin-left: 30px;
    display: flex;
    gap: 200px;
    width: 82%;
    justify-content: end;
}

.hr {
    width: 82%;
    margin-left: 160px;
}

.shopcategory_load .page p {
    font-size: 18px;
}

.shopcategory_load .numbers {
    font-size: 20px;
    display: flex;
    justify-content: center;
    gap: 2px;
    margin-top: 10px;
}

.shopcategory_load .numbers span {
    width: 27px;
    justify-content: center;
    height: 27px;
    border-radius: 50%;
    font-size: 20px;
    background-color: #2874f0;
}